.navbar {
  padding:0rem;
  margin-bottom:2rem;
  padding-top: 10;
  padding-bottom: 10;
  font-size: 20px !important;
}

#searchField{
  margin: auto;
  width: 30vw;
}

.nav-link{
  margin-left: 1vw;
  margin-right: 1vw;
}

.navbar-nav > .active > a {
  background-color: #16213e; 
  border-radius: 13px;   
}

.navbar-nav> .active > :hover {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

#searchButton:hover {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}