.navbar-nav> .active > :hover {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}
 
#searchButton:hover {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

#search-create {
  text-indent: 30px;
}

#flex{
  margin: auto;
  display:flex;
  flex-wrap: wrap;
  width: 120%;
  height: 100%;
  flex-direction: row;
  border: 1px solid rgb(255, 254, 254);
  padding-bottom: 500px;
}
 
#flex > .card {
  box-shadow: 0 4px 8px;
  transition: 0.3s;
  width: 30%;
  height: 50%;
  padding-left: 20px;
  padding-bottom: 20px;
}
.navbar {
  padding:0rem;
  margin-bottom:2rem;
  padding-top: 10;
  padding-bottom: 10;
  font-size: 20px !important;
}

#searchField{
  margin: auto;
  width: 30vw;
}

.nav-link{
  margin-left: 1vw;
  margin-right: 1vw;
}

.navbar-nav > .active > a {
  background-color: #16213e; 
  border-radius: 13px;   
}

.navbar-nav> .active > :hover {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

#searchButton:hover {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}